<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="cadenaConexion" value="Server=localhost; Database=DB_MiniMarket; User Id=sa; Password=Qqmelo#13"/>
	</appSettings>
</configuration>